<% @page_title = "このサイトについて" %>

<h1><%= @page_title %></h1>

<p>Morning Gloryは、2013年に結成されボロ野球チームです。毎週土曜日の早朝多摩川丸子橋から飛び降ります。そのたびに、スマホが輝くことから、Morning Glory（朝顔）という名になりました。おもな活動拠点は、多摩川河川敷グラウンドの掘っ建て小屋です。
</p>
